ALTER TABLE banners ADD COLUMN IF NOT EXISTS status text DEFAULT 'active' CHECK (status IN ('active', 'inactive')); CREATE TABLE IF NOT EXISTS devices (id uuid DEFAULT uuid_generate_v4() PRIMARY KEY, name text NOT NULL, status text DEFAULT 'active' CHECK (status IN ('active', 'inactive')), last_seen timestamp with time zone DEFAULT timezone('utc'::text, now()), created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL);
