-- Atualiza a estrutura da tabela banners DROP TABLE IF EXISTS banners; CREATE TABLE banners (id uuid DEFAULT uuid_generate_v4() PRIMARY KEY, title text NOT NULL, file_url text NOT NULL, duration integer NOT NULL, order_num integer NOT NULL DEFAULT 0, file_type text NOT NULL CHECK (file_type IN ('image', 'video')), status text DEFAULT 'active' CHECK (status IN ('active', 'inactive')), created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL);
