-- Atualiza a estrutura da tabela banners ALTER TABLE banners ADD COLUMN IF NOT EXISTS company text; ALTER TABLE banners ADD COLUMN IF NOT EXISTS contract_start_date date; ALTER TABLE banners ADD COLUMN IF NOT EXISTS contract_end_date date;
